/* Global settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #b83575;
}

body {
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  min-height: 100vh;
}

/* Nav styling  */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8e9e90a;
  height: 6rem;
  position: relative;
}

.logo {
  background: no-repeat url(./logo.png);
  background-size: contain;
  height: 6rem;
  min-width: 15rem;
  margin: 1rem;
}

ul {
  display: flex;
  width: 45%;
  justify-content: space-around;
}

li {
  list-style: none;
}

a {
  font-size: 1.7em;
  font-weight: bold;
  color: var(--blue);
  text-decoration: none;
  position: relative;
  padding: 0.3rem;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  left: 0;
  height: 0.2em;
  border-radius: 20px;
  background-color: var(--blue);
  transition: 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
}

/* Right mobile button */

.mobile {
  margin: -2px;
  width: 3rem;
  height: 5px;
  border-radius: 10px;
  transition: 0.3s ease ease-out;
  background-color: var(--blue);
}

button {
  display: none;
}

/* Media query */

@media only screen and (max-width: 1000px) {
  ul {
    position: absolute;
    right: 0;
    top: 6rem;
    background-color: var(--blue);
    height: 100vh;
    flex-direction: column;
    text-align: center;
    transform: translate(100%);
    transition: 0.4s ease-in;
  }

  ul.active {
    transform: translate(0%);
  }

  a {
    color: whitesmoke;
    font-size: 2.5em;
    letter-spacing: 2px;
  }

  a::after {
    background-color: whitesmoke;
  }

  button {
    display: block;
    background: transparent;
    border-radius: 1rem;
    border: none;
    margin: 15px;
    cursor: pointer;
  }

  .btn .line {
    transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
    transform-origin: center;
  }

  .btn[aria-expanded="true"] .line {
    transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
  }

  .btn[aria-expanded="true"] :is(.top, .bot) {
    y: 45;
  }

  .btn[aria-expanded="true"] .top {
    rotate: 45deg;
  }

  .btn[aria-expanded="true"] .mid {
    opacity: 0;
  }

  .btn[aria-expanded="true"] .bot {
    rotate: -45deg;
  }
}

@media only screen and (max-width: 760px) {
  ul {
    min-width: 100%;
  }
}
